body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.vanilla-jsoneditor-react {
  height: 100%
}

.fullpage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.status-bar {
  padding: 4px;
  background: #3883fa;
  color: white;
  text-align: center;
  font-size: 15px;
  flex-grow: 0;
  display: flex;
}

.error {
  background: #fa3855;
}

.small {
  font-size: 14px;
}

.space {
  flex: 1;
}